[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
publicsuffix2 = "*"
psl = "*"
idna = "*"
publicsuffixlist = "*"
dnspy = "*"

[requires]
python_version = "3.7"
